:root {
  --bg: #0e0f1e;
  --text: #bcaebb;
  --text-h: #f3f4f6;
  --border: #614968;
  --code-bg: #0408325e;
  --accent: #b4abf8;
  --accent-bg: rgba(52, 107, 107, 0.542);
  --accent-border: rgba(104, 161, 165, 0.5);

  --sans: "EB Garamond", Georgia, serif;
  --mono: ui-monospace, Consolas, monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  color: var(--text);
  font: 19px/130% var(--sans);
  letter-spacing: 0.15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--accent);
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

h1, h2, h3 {
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
}

code {
  font-family: var(--mono);
  font-size: 15px;
  padding: 4px 8px;
  border-radius: 4px;
  background: var(--code-bg);
  color: var(--text-h);
}

@media (max-width: 1024px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 20px;
  }
}